<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIJDL9Fi8zCcdkRAkpZMd-o2mOIKwlRIA&libraries=places"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>

    {% extends 'base.html' %}

    {% block title %}
        Save with Parcel
    {% endblock %}

</head>

{% block body %}
<body id="main-body">
<br><br><br><br><br><br><br><br><br><br><br>

<div id="search-composite">
    <div class="header">
        <h1 id="save-header">Reduce Your Property Tax Bill</h1>
    </div>
    <h4 id="save-sub-header"> Search to see your savings potential</h4><br>
    <form method = "POST">
        {{form.hidden_tag()}}
    <div class="container" id="search-sub-container">
        <div class="search">
            <div class="row justify-content-md-center">
                <div class="col col-md">
                    <div class="search-1">
                        <i class='bx bx-search-alt'></i>

                        {{ form.address(type="text", id="autocomplete", placeholder= "Address") }}
                        <script>
                            const options = {
                                types: ['address']
                            }
                            var input = document.getElementById('autocomplete');
                            var autocomplete = new google.maps.places.Autocomplete(input, options);
                            // google.maps.event.addListener(autocomplete, 'place_changed', function(){
                            //     var place = autocomplete.getPlace();})
                        </script>
                    </div>
                </div>

                <div class="col col-md">
                    <div class="search-2">
                        <iconify-icon icon="fluent-mdl2:contact"></iconify-icon>
                        {{ form.contact_details(placeholder = "Email") }}
                        <button type = "submit" id = "submit" name="submit">Submit</button>
                    </div>
    <!--            For HTML, id is local nomenclature, the name is what is referenced in the backend-->
                </div>
            </div>
        </div>
    </div>

    </form>
</div>
</body>
{% endblock %}